{% extends "layout.html" %}

{% block title %}High Low{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>High Low</h1>
        <div class="alert alert-info p-2" role="alert">
            Errors Remaining = {{ errors }}
        </div>
        <div class="alert alert-info p-2" role="alert">
            Points = {{ points }}
        </div>
    </div>

    <div class="alert alert-secondary" role="alert">
        First number = {{ number_first }}
    </div>

        <form action="{{ url_for('hilo_guess') }}" method="post" class="mt-4" id="guessForm">
            <input type="hidden" name="number_first" value="{{ number_first }}">
            <input type="hidden" name="number_second" value="{{ number_second }}">
            <input type="hidden" name="points" value="{{ points }}">
            <input type="hidden" name="guess" id="hiddenGuess">

            <button type="button" class="btn btn-success btn-lg mt-3" onclick="submitGuess('Higher')">Higher</button>
            <button type="button" class="btn btn-warning btn-lg mt-3" onclick="submitGuess('Lower')">Lower</button>
        </form>

        <script>
            function submitGuess(guess) {
                document.getElementById('hiddenGuess').value = guess;
                document.getElementById('guessForm').submit();
            }
        </script>
    </div>
{% endblock %}
