{% extends "layout.html" %}

{% block title %}GAME OVER{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>GAME OVER</h1>
        <div class="alert alert-info p-2" role="alert">
            Points = {{ points }}
        </div>
    </div>
    <div>
        <h2>Top 10 Scores</h2>
        <ul class="list-group">
            {% for score in top_scores %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ score.name }}
                    <span class="badge badge-primary badge-pill">{{ score.score }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="enter initials">
        <form id="scoreForm">
            <input type="hidden" name="game" value="hilo">
            <input type="hidden" name="score" value="{{ points }}">
            <input type="text" name="name" placeholder="Enter your name" required>
            <button type="submit">Submit</button>
        </form>
        <div id="responseMessage"></div>
    </div>

    <script>
        document.getElementById('scoreForm').addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission

            // Simplified conversion of FormData to JSON Object
            var formData = new FormData(this);
            var jsonObject = Object.fromEntries(formData.entries());

            fetch('/add_score', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonObject),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('responseMessage').textContent = data.message;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        </script>




<a href="{{ url_for('hilo') }}" class="btn btn-primary">Start New Game</a>
{%  endblock content %}